/*
#joystick-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

#joystick {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: relative;
    left: 25px;
    top: 25px;
}
*/